# Python
__pycache__/
*.py[cod]
*$py.class
*.so
build/
dist/
*.egg-info/
*.egg

# Virtual environments
venv/

# Environment variables
.env
.env.dev
.env.prod

# Build markers
.last_build*

# IDE
.vscode/
.idea/

# OS
.DS_Store

# Logs
*.log

# Database
*.db
*.sqlite3

# Pytest
.pytest_cache/
.coverage
